---
import { Image } from 'astro:assets';
import logo from '../images/logo.png';
import {PHONE_NUMBER} from '../constants'
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Strona w budowie | Kącik Urody - Małgorzata Tomczak</title>
  </head>
  <body>
    <main class="w-full flex flex-col items-center justify-center h-screen bg-pinkLight text-center">
      <Image src={logo} alt="logo" loading="eager" width="250" />
      <h1 class=" text-2xl mb-3 font-medium">Strona w budowie!</h1>
      <p class="text-base px-5">Zapraszamy do rezerwacji pod numerem telefonu:
        <a href=`tel:${PHONE_NUMBER}` class="text-pink hover:text-accent transition-colors" aria-label={`Call us at +48 ${PHONE_NUMBER}`} >{PHONE_NUMBER}</a>.
      </p>
    </main>
  </body>
</html>