---
import { Image } from 'astro:assets';
import mask from '../images/mask.png';
import nails from '../images/nails.png';
import eyelashes from '../images/eyelashes.png';
---

<section
	class='mobile:flex mobile:flex-row flex-col items-center justify-center desktop:min-h-screen desktop:py-10 h-fit py-20 mx-[24px]'
	id='aboutUs'
>
	<div
		class='relative justify-center items-center w-full min-w-[420px] max-w-[537px] h-[420px] tablet:flex hidden mr-16'
	>
		<Image
			loading='eager'
			class='rounded-lg aspect-square w-2/3 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-1'
			src={mask}
			alt='face mask'
		/>
		<Image
			loading='eager'
			class='rounded-lg aspect-square tablet:w-1/3 w-2/5 absolute z-2 top-[calc(50%+75px)] left-[calc(50%+75px)]'
			src={nails}
			alt='painting nails'
		/>
		<Image
			loading='eager'
			class='rounded-lg aspect-square tablet:w-1/3 w-2/5 absolute z-2 bottom-[calc(50%+75px)] right-[calc(50%+75px)]'
			src={eyelashes}
			alt='eyelash extension'
		/>
	</div>
	<div class='flex flex-col gap-6 max-w-2xl'>
		<p class='text-accent text-3xl font-[Lora]'>O nas</p>
		<h2 class='font-medium tablet:text-3xl text-2xl'>
			Prawdziwe piękno to poczucie komfortu we własnej skórze
		</h2>
		<p class='tablet:text-lg text-base'>
			Wierzę, że prawdziwe piękno wyraża się nie tylko w zewnętrznym wyglądzie,
			ale także wewnętrznym komforcie i pewności siebie. Filozofia salonu opiera
			się na holistycznym podejściu do pielęgnacji, które nie tylko poprawia
			kondycję skóry, ale także wzmacnia poczucie pewności siebie moich
			klientów.
		</p>
		<button class='accentButton desktop:self-start py-3 text-xl mt-4 self-end'
			>Dowiedz się więcej</button
		>
	</div>
	<div id="carousel" class="mobile:hidden py-20">
		<div class="flex justify-center items-center gap-2">
			<div><Image loading='eager' id="leftCarousel" class="rounded-md w-[50vw] aspect-square shadow-md" src={mask} alt="carousel item 1"></div>
			<div><Image loading='eager' id="centerCarousel" class="rounded-md w-[50vw] aspect-square shadow-lg"src={nails} alt="carousel item 2"></div>
			<div><Image loading='eager' id="rightCarousel" class="rounded-md w-[50vw] aspect-square shadow-md" src={eyelashes} alt="carousel item 3"></div>
		</div>
	</div>
</section>

<script>
    import mask from '../images/mask.png';
    import nails from '../images/nails.png';
    import eyelashes from '../images/eyelashes.png';
    import serum from '../images/serum.png';
    import eyelashesAdjustment from '../images/eyelashesAdjustment.png';

    const leftCarousel = document.getElementById('leftCarousel') as HTMLImageElement;
    const centerCarousel = document.getElementById('centerCarousel') as HTMLImageElement;
    const rightCarousel = document.getElementById('rightCarousel') as HTMLImageElement;

    const imageVariables = [mask, nails, eyelashes, serum, eyelashesAdjustment];

    let currentIndex = 0;
    let intervalId = null;

    function changeImages() {
        rightCarousel.src = imageVariables[(currentIndex + imageVariables.length - 1) % imageVariables.length].src;
        centerCarousel.src = imageVariables[currentIndex].src;
        leftCarousel.src = imageVariables[(currentIndex + 1) % imageVariables.length].src;
        currentIndex = (currentIndex + 1) % imageVariables.length;
    }

    function startInterval() {
        stopInterval();
        intervalId = setInterval(changeImages, 3500);
    }

    function stopInterval() {
        clearInterval(intervalId);
    }

    function handleResize() {
        if (window.innerWidth < 480) {
            startInterval();
        } else {
            stopInterval();
        }
    }

    window.addEventListener('resize', handleResize);

    handleResize();
</script>

