---
import { Image } from 'astro:assets';


const bestSellersList1 = [
  { title: 'Zabiegi na twarz:', price: ''},

    {title: 'Makijaż okazjonalny', price: '150zł'},
    {title: 'Oczyszczanie wodorowe w terapiach łączonych:', price: '180zł'},
    {title: 'Mezoterapia mikroigłowa z ampułką:', price: '180zł'},
    {title: 'Mezoterapia mikroigłowa z falą radiową:', price: '300zł'},
    {title: 'Fala radiowa na twarz:', price: '180zł'},
    {title: 'Fala radiowa całość (twarz, szyja, dekolt):', price: '220zł'},
    //akapit
    {title: 'Zabiegi pielęgnacyjne nawilżające, ujędrniające, przeciwzmarszczkowe, rozświetlające, wzmacniające naczynka (peeling + masaż twarzy + maska):', price: '150zł'},
    //akapit
    {title: 'Peelingi kawitacyjne z ampułką i maską:', price: '170zł'},
    {title: 'Kwasy i maska:', price: '100zł'}];


    const bestSellersList2 = [
  {title: 'Zabiegi na ciało', price: ''},
    {title: 'Liposukcja ultradźwiękowa (strefa):', price: '150zł'},
    
  {title: 'Brwi oraz rzęsy', price: ''},
    {title: 'Regulacja brwi:', price: '20zł'},
    {title: 'Henna pudrowa z regulacją:', price: '80zł'},
    {title: 'Henna rzęs:', price: '40zł'},
    {title: 'Laminacja brwi:', price: '120zł'},
    {title: 'Laminacja rzęs:', price: '130zł'},
  

  {title: 'Rzęsy', price: ''},
    
      {title: '1:1', price: '110-130zł'},
      {title: '2D', price: '120-140zł'},
      {title: '3D', price: '130-150zł'},
      {title: '4D', price: '140-160zł'},
      {title: '5D', price: '150-170zł'},
      {title: '6D', price: '160-180zł'} ];
    
      const bestSellersList3 = [
  {title: 'Wosk', price: ''},
    {title: 'Górna warga:', price: '20zł'},
    {title: 'Twarz:', price: '50zł'},
    {title: 'Pachy:', price: '60zł'},
    {title: 'Ręce:', price: '60zł'},
  

  {title:'', price:''},
      {title: 'Manicure klasyczny:', price: '50zł'},
      {title: 'Manicure hybrydowy:', price: '60zł'},
      {title: 'Manicure żelowy z przedłużeniem:', price: '90zł'},
      {title: 'Zabieg pielęgnacyjny na dłonie:', price: '60zł'},
      {title: 'Zabieg pielęgnacyjny na stopy:', price: '60zł'},
];
---

<ul class="flex mt-[40px] flex-wrap justify-between">
  <li class="w-[32%] cursor-pointer rounded-lg  shadow-lg hover:shadow-2xl bg-white">
    <ul>
    {bestSellersList1.map(({ title, price}) => (
      

        <div class="flex justify-between px-[20px]  pb-[20px]">
          <h3 class="font-bold mt-[15px] text-left">{title}</h3>
          <p class="font-bold mt-[20px] text-right">{price}</p>
        </div>
    ))
  }
</ul></li>
<li class="w-[32%] cursor-pointer rounded-lg  shadow-lg hover:shadow-2xl bg-white">
  <ul>
  {bestSellersList2.map(({ title, price}) => (
    

      <div class="flex justify-between px-[20px]  pb-[20px]">
        <h3 class="font-bold mt-[15px] text-left">{title}</h3>
        <p class="font-bold mt-[20px] text-right">{price}</p>
      </div>
  ))
}
</ul></li>

<li class="w-[32%] cursor-pointer rounded-lg  shadow-lg hover:shadow-2xl bg-white">
  <ul>
  {bestSellersList3.map(({ title, price}) => (
    

      <div class="flex justify-between px-[20px]  pb-[20px]">
        <h3 class="font-bold mt-[15px] text-left">{title}</h3>
        <p class="font-bold mt-[20px] text-right">{price}</p>
      </div>
  ))
}
</ul></li>

